body{
    background-color: rgb(49, 49, 48);
    background-image: url("back.webp");
    background-repeat: no-repeat;
    

}
*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    
}
nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
nav ul{
    display: flex;
    list-style: none;
    height: 90px;
    background-color: rgb(71, 91, 91);
    align-items: center;

}
nav ul li{
    margin: 5px;
    pad: 0 20px;
  
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-style: italic;
}

.brand img{
    height:70px;
    width:80px;
    border-radius:50%;
   padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.container{
min-height: 70vh;
background-color: rgb(36, 31, 31);
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: flex;
margin: 23px auto;
width: 70%;
border-radius: 10px;
padding: 10px;
margin-bottom: 10px;
background-image: url("bac.jpg");
background-position: center;
background-repeat: no-repeat;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: rgb(135, 128, 128);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.icons{
    margin-top: 15px;
    
}
.icons i{
    cursor: pointer;
}
#myprogressBar{
    width: 80vw;
    cursor: pointer;
}
.songitem{
    height: 70px;
    display: flex;
    background-color: beige;
    /* width:500px; */
    color: black;
    margin: 12px 0px;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
}
.songitem img{
height: 50px;
width: 53px;
margin: 0 16px;
border-radius: 34px;

}
.timestamp{
    margin: 0 16px;
}
.timestamp i{
    cursor: pointer;
}
.songitemcontainer{
    margin: 30px 20px;
}
.songinfo{
    position: absolute;
    left: 10vw;

}
.songinfo img{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}
.music{
    width: 135px;
    height: 25px;
}
.lav{
   margin-top: 10px;
    font-weight: 600;
    
    
}
.lav a{
    text-decoration: none;
}
h1{
    color: red;
}




/* media query */
@media only screen and (min-width:600px) {
    body {
      background-color: lightblue;
    }
  }
  .bottom{
    position: sticky;
    height: 130px;
    width: auto;
    background-color: rgb(135, 128, 128);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.songitem img{
    width: 10px;
    height: 20px;
}